table {
    border-collapse: collapse;
    width: 100%;
}

td:hover{background-color: #CCCCCC}

tr:nth-child(odd){background-color: #EDEDED}

body{
}

p {text-align: center;}

#buttons {
    margin: auto 0;
    text-align: center;
    padding-top: 5px;
}

div{margin: auto 0;
    text-align: center;
    padding-top: 5px;
}

th {
    height: 30px;
}

td {
    text-align: center;
    vertical-align: middle;
    height: 20px;
    padding: 5px;
}

table, th, td {
    border: 1px solid black;
}

h1{
    text-align: center;
}

.footer{
	text-align: center;
	padding: 25px;
}

.navcontainer { margin-left: 30px; }

/*Fat Erik's Pipelist*/
/* http://css.maxdesign.com.au/listamatic/horizontal32.htm */
.navlist
{
list-style: none;
padding: 0;
margin: 0;
}

.navlist li
{
display: inline;
padding: 0;
margin: 0;
}

.navlist li:before { content: "| "; }
.navlist li:first-child:before { content: ""; }

/*IE workaround*/
/*All IE browsers*/
* html .navlist li
{
border-left: 1px solid black;
padding: 0 0.4em 0 0.4em;
margin: 0 0.4em 0 -0.4em;
}

/*Win IE browsers - hide from Mac IE\*/
* html .navlist { height: 1%; }

* html .navlist li
{
display: block;
float: left;
}

/*End hide*/
/*Mac IE 5*/
* html .navlist li:first-child { border-left: 0; }

